<div class="box">
  <h1>{{title}}</h1>

  <input class="text" type="text" [(ngModel)]="filter" placeholder="Filter your to-dos" />
  @if(IsListCompleted()){
    <p>All tasks are done!</p>
  }

  <ol>
    @for (thing of GetFiltered(); track $index) {
      <li [class.complete]="thing.completed">
        @if (!thing.completed) {<button class="completeButton" (click)="completeTask(thing)" >Complete</button>} 

        <input [class.completed]="thing.completed" type= "text" [(ngModel)]="thing.task" />
        {{thing.task}} ({{thing.duration | number: '1.1-2'}} hr)

        <span [class.highPriority]="thing.priority=='High'" [class.lowPriority]="thing.priority=='Low'">
          @if (thing.priority == "Low") {&darr; {{thing.priority}} Priority}
          @else if (thing.priority == "High") {&uarr; {{thing.priority}} Priority}
          @else {}          
        </span>

        <button class="deleteButton" (click)="deleteTask(thing)">X</button>
      </li>
    }
  </ol>

  <div class="taskBox">
    <label for="task">Enter a new Task: </label> <br>
    <input id="task" type="text" class="text" [(ngModel)]="formTask.task"/> <br>
  
    <label for="duration">Estimated Time to complete (hrs):</label> <br>
    <input id="duration" type="number" class="text" [(ngModel)]="formTask.duration"/> <br>
    <div>
      <label for="priority">Priority Level: </label> <br>
      <input id="priority" name="priority" ng-control="priority" type="radio" [value]="'High'" [(ngModel)]="formTask.priority"/> High
      <input id="priority" name="priority" ng-control="priority" type="radio" [value]="'Normal'" [(ngModel)]="formTask.priority"/> Normal
      <input id="priority" name="priority" ng-control="priority" type="radio" [value]="'Low'" [(ngModel)]="formTask.priority"/> Low
    </div>
  
    <button class="submitButton" (click)="AddTask()">Add Task</button>
  </div>
</div>
